<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Version 2.2 of the azure storage sdk (local emulator) doesn't work with the Storage Client library 3.0 (cause header x-ms-version: 2013-08-15)
    Therefor until it is fixed, we are using a real cloud storage account
    -->
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
  </appSettings>  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
</configuration>